.App {
  color: white;
  text-align: center;
  background-color: #282c34;
}

li,
ul {
  list-style: none;
}

/* normalize */
body {
  margin: 0;
}

/* global styles */

.heading {
  margin-bottom: 0;
  text-align: center;
}

.meta {
  font-size: 0.8rem;
  color: gray;
  text-align: center;
}

.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

/* room */
.room {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  gap: 8px;
  margin: 0 8px;
}

.room .messages {
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
  background-color: #495161;
}

.room-name-label,
.room-pass-label {
  display: block;
  margin: 8px;
}

.room-name-input,
.room-pass-input {
  padding: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.join-btn {
  width: 50%;
  padding: 4px;
  margin-top: 8px;
  margin-left: 25%;
  text-align: center;
}
