.App {
  color: white;
  text-align: center;
  background-color: #282c34;
}

li,
ul {
  list-style: none;
}
/* normalize */
body {
  margin: 0;
}

/* global styles */

.heading {
  text-align: center;
  margin-bottom: 0;
}

.meta {
  text-align: center;
  font-size: 0.8rem;
  color: gray;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

/* room */
.room {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  gap: 8px;
  margin: 0 8px;
}

.room .messages {
  background-color: #495161;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}
